section {
    max-width: 800px; 
    padding: 60px 40px;
    margin: 50px auto;
    text-align: center;
    font-size: 1.2rem;
}

img {
    width: 150px;
    margin-bottom: 35px;
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    margin-bottom: 25px;
}
/* Social Media Icons */
.social-icons {
    margin-top: 20px;
    margin-bottom: 30px; 
}

.social-icons a {
    margin: 0 12px; 
    font-size: 28px;
    color: #000;
    transition: 0.3s;
}

p {
    font-size: 1.25rem;
    line-height: 1.8;
    font-family: "Georgia", "Times New Roman", serif;
    color: #333;
    margin-bottom: 20px; 
    text-align: justify;
}

button {
    margin: 20px 10px; 
    padding: 16px 28px;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 8px;
    transition: 0.3s, color 0.3s;
}

button:hover {
    background: #333;
}

/* Comment Box */
#comment-box, #comment-section {
    margin-top: 40px;
    text-align: left;
}

#comment-box h3, 
#comment-section h3 {
    margin-bottom: 12px;
    font-size: 1.6rem;
}

/*  Wrapper */
.comment-area {
    background: #f7f7f7;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: .3s;
}

.comment-area:focus-within {
    border-color: #000;
}

#comment-input {
    width: 100%;
    height: 90px;
    border: none;
    background: transparent;
    font-size: 1.1rem;
    resize: none;
    outline: none;
}

/* Button */
.comment-submit {
    margin-top: 15px;
    padding: 12px 24px;
    background: #000;
    color: #fff;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .25s;
}

.comment-submit:hover {
    background: #333;
}

/* Comment List */
#comment-list {
    list-style: none;
    padding: 0;
}

#comment-list li {
    background: #f0f0f0;
    padding: 15px 20px;
    margin-bottom: 12px;
    border-radius: 10px;
    border-left: 4px solid #000;
    font-size: 1.1rem;
    line-height: 1.6;
    animation: fadeIn .3s ease;
}
